open-flamingo
einops
einops-exts
transformers>=4.28.1
torch==2.6
numpy<2
pillow
open_clip_torch>=2.16.0
sentencepiece
scipy
torchvision
nltk
inflection
pycocoevalcap
pycocotools
tqdm
scikit-learn
black
mypy
pylint
pytest
requests
huggingface_hub
